<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/src/output.css' %}">
    <title>{% block title %}Mako Tech{% endblock %}</title>
    {% block extra_css %} {% endblock %}
</head>

<body>
    <div id="nav">
    {% block navbar %}
    {% include "includes/navbar.html" %}
    {% endblock %}
    </div>

    <div id="content">
    {% block content %} {% endblock %}
    </div>
    

    <div id="footer">
    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}
    </div>
    
    {% block scripts %}{% endblock %}
</body>
</html>